@font-face {
  font-family: "PT Sans Narrow";
  src: url(/static/fonts/PTS76F.ttf) format("truetype");
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: #f2ebe6;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

a, a:focus, a:hover, a:active {
  color: #E8A996;
  outline: 0;
  text-decoration: none;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.block {
  display: block;
}

.social-icon {
  margin-top: 4px;
  font-size: 2em !important;
  color: white !important
}

.welcome-image {
  background-size: cover;
  background-image: url(/static/img/bg3.jpg);
  background-position: 0px 0px;
}

.fixed-image {
  background-attachment: fixed;
}

.welcome-text {
  color: #041E35;
  margin: 80px 0px;
  text-shadow: -2px -2px 4px #E8E8E8;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

.pattern {
  background-image: url(/static/img/pattern.png);
  background-attachment: fixed;
  z-index: 1;
  box-shadow: inset 0px 0px 50px #000;
}

.header {
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 0;
}

.header-navigation {
  padding: 15px 15px 0;
  margin: 0;
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  list-style-type: none;
}

.header-navigation li {
  float: left;
  padding: 0;
  margin: 0 0 10px 25px;
}

.header-navigation a {
  display: block;
  color: rgb(95, 111, 126);
}

.logo {
  font: 400 19px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.navbar-toggle span {
  background: rgb(95, 111, 126);
}

.navbar-brand {
  margin-left: 0px !important;
}

.menu-bar {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.contact-description {
  font: 200 18px "PT Sans Narrow", Arial, sans-serif;
  margin-bottom: 5px;
  line-height: 32px
}

.isay {
  margin: 30px 10px 0px 30px;;
  font-size: 24px;
  position: relative;
  clear: both;
  text-align: left;
  font: 600 20px "PT Sans Narrow", Arial, sans-serif;
  color: rgb(199, 53, 0);
}

.soft-white-bg {
  background: rgba(255,255,255, 1);
}

.page-footer {
  padding: 10px 5px 5px;
  background-color: #3A4958;
  font: 200 15px "PT Sans Narrow", Arial, sans-serif;
}

.content-space {
  margin-bottom: 50px;
}

.mt-code {
  margin-right: 2px;
  color: rgb(223, 18, 42);
}

.caption-subject {
  word-break: break-word;
  display: block;
}

.mt-info {
  margin-top: 0px;
  border: 1px solid #f2ebe6 !important;
  border-radius: 0px;
  font: 400 15px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.col {
  flex: 1;
  padding: 1em;
  border: 1px solid #f2ebe6
}

.bootbox.modal {
  color: black;
  text-align: left;
  text-shadow: none;
  font-family: initial;
}

.modal-title {
  text-align: center;
  text-shadow: none;
}

.about-me {
  text-align: left;
  margin-left: 65px;
  margin-top: 40px;
  font: 400 19px "PT Sans Narrow", Arial, sans-serif;
  color: #2C3E50;
}

.modal-content {
  word-break: break-all;
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.small-padding {
  padding-left: 5px;
  padding-right: 5px;
}

.fb-color {
  background: #3b5998;
}

.twitter-color {
  background: #4099FF;
}

.linkedin-color {
  background: #0e76A8;
}

.e-bro-block {
  background: #293133;
  line-height: 34px;
}

.max-width {
  width: 100%;
}

.dark-orange-color {
  color: #db3b00;
}

.blue-gray-color {
  color: rgb(95, 111, 126);
}

.btn-success {
  background-color: #008A00;
}

.btn-info {
  background-color: #00829B;
}

.btn-danger {
  background-color: #D4423C;
}

.modal-dialog {
  margin: 0px auto;
}

.modal-header .close {
    margin-top: -12px;
}

.close {
  font-size: 40px;
}
