/* Base structure */
html,
body {
  color: #5f6f7e;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(/static/fonts/pt_sans_narrow.woff2) format("truetype");
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

a, a:focus, a:hover, a:active {
  color: #e6400c;
  outline: 0;
  text-decoration: none;
}


.block {
  display: block;
  height: 600px;
}

.footer {
   display: block;
   height: 200px;
   background: black;
 }

 .welcome-image {
  background-size: cover;
  display: block;
  background-image: url(/static/img/bg.jpg);
  height: auto;
  background-attachment: fixed;
  z-index: 1;
 }

 .pattern {
  width: 100%;
  display: block;
  background-image: url(/static/img/pattern.png);
  height: 100%;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.header {
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 0;
  background: rgba(255,255,255,0.95);
  margin-left: -15px !important;
}

.header-navigation {
  padding: 15px 15px 0;
  margin: 0;
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.header-navigation li {
  float: left;
  padding: 0;
  margin: 0 0 10px 25px;
}

.header-navigation a {
  display: block;
  color: rgb(95, 111, 126);
}

.logo {
  font: 400 19px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.navbar-toggle span {
  background: rgb(95, 111, 126);
}

.navbar-brand {
  margin-left: 0px !important;
}

.menu-bar {
  margin-right: -15px !important;
  background: rgba(255,255,255,0.95);
}
