.mt-element-overlay .mt-overlay-4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.mt-element-overlay .mt-overlay-4 img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.mt-element-overlay .mt-overlay-4 .mt-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

.bold {
  font-weight: 700!important;
}

.font-green {
  color: #32c5d2!important;
}
.uppercase {
  text-transform: uppercase!important;
}

.mt-code {
  padding: 3px;
  color: #E43A45;
  border-radius: 0px!important;
  display: inline;
  word-wrap: normal;
}

.caption-subject {
  font-size: 18px;
}

.portlet-title, .portlet-body {
  margin-bottom: 0px;
  margin-top: 5px;
}

.page-title {
  padding: 0;
  font-size: 28px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0 0 15px;
  font-weight: 300;
}
