{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% blocktrans %}Birkás Orsolya Toborzási és Kiválasztási Tanácsadó honlapja és aktuális állás ajánlatai{% endblocktrans %}">
    <meta name="author" content="Birkás Orsolya">
    <title>
      Birkás Orsolya {% trans "Toborzási és Kiválasztási Tanácsadó" %}
    </title>
    <meta name="google-site-verification"
          content="oCjm-ldvoKNgFG4yv_gA0K-A58i7CN44AJPM6cPC7jM" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
    {% compress css %}
      <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "css/mt.css" %}" rel="stylesheet">
      <link href="{% static "css/cover.css" %}" rel="stylesheet">
      <link href="{% static "font-awesome-4.5.0/css/font-awesome.min.css" %}"
            rel="stylesheet">
    {% endcompress %}
  </head>
  <body>
    <div class="site-wrapper" id="app-place" data-language="{{LANGUAGE_CODE}}">
    </div>
    <script src="/{{LANGUAGE_CODE}}/jsi18n/"></script>
    {% compress js %}
      <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/bootbox.min.js" %}"></script>
      <script src="{% static "react/app.js" %}"></script>
    {% endcompress %}
  </body>
</html>
