{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Home Page" %}</title>
    {% compress css %}
      <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "css/cover.css" %}" rel="stylesheet">
      <link href="{% static "font-awesome-4.5.0/css/font-awesome.min.css" %}" rel="stylesheet">
    {% endcompress %}
  </head>
  <body>
    <div class="site-wrapper" id="app-place" data-language="{{LANGUAGE_CODE}}">
    </div>
    <script src="/{{LANGUAGE_CODE}}/jsi18n/"></script>
    {% compress js %}
      <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "react/app.js" %}"></script>
    {% endcompress %}
  </body>
</html>
